.card {
    width: 250px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column; 
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 20px;
    justify-content: center;
}

.card--star {
    height: 14px;
}

.card--price {
    padding-top: 20px;
}